<app-main-title [title]="'Add Brand'" />

<form [formGroup]="form" (ngSubmit)="submitForm()" class="flex flex-col gap-6">

  <div class="form_field">
    <div class="float_field">
      <input type="text" formControlName="name" class="input_field" id="name" placeholder=" " />
      <label for="name" class="label_field"> name </label>
    </div>
    @if (form.get('name')?.getError('required') && form.get('name')?.touched) {
      <small class="input_error"> name is required </small>
    } @else if (form.get('name')?.getError('minlength') || form.get('name')?.getError('maxlength')) {
      <small class="input_error"> Brand name must be between 3 and 32 characters </small>
    }
  </div>

  <div class="upload-image">
    <div class="image-wrapper border-2 border-dashed border-gray-400 rounded-lg p-8 bg-gray-100">

      @if (!imagePreview) {
        <div class="flex flex-col gap-4 justify-center items-center text-gray-400">
          <p-fileupload
            mode="basic"
            chooseLabel="choose new brand"
            chooseIcon="fa-solid fa-arrow-up-from-bracket"
            accept="image/*"
            maxFileSize="100000000"
            [customUpload]="true"
            (onSelect)="onFileSelected($event)"
          />
          <p> Drag image here or click to select </p>
          <p> Max file size: {{maxFileSizeInMB}} MB </p>
          <p> Required image ratio: {{imageRatio}} </p>
          <p> Example image size: {{imageExample}} </p>
        </div>
      }

      @if (imagePreview) {
        <div class="max-w-100 max-h-100 mx-auto relative">
          <img [src]="imagePreview" class="w-full h-full object-cover rounded-lg" alt="Brand preview" />
          <button (click)="removeUploadedImage()" type="button" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-10 bg-red-600 text-white rounded-full cursor-pointer">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      }

    </div>
    @if (form.get('image')?.errors && form.get('image')?.touched) {
      <small class="input_error"> image is required </small>
    }
  </div>

  <button class="bg-gray-600 text-white rounded-lg p-3 transition duration-300 hover:bg-gray-700 cursor-pointer w-40">
    add
    @if (loading) {
      <i class="fa-solid fa-spinner animate-spin"></i>
    }
  </button>

</form>
